{% extends "base.html" %}
{% block content %}
  
    <u><h1>Tickets</h1></u>
    <style>
        h1{
        color: rgb(4, 70, 53);
        font-weight: bolder;
        font-size: x-large;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
      }
    </style>
    <form method="post" action=".">
        {% csrf_token %}
        <div class="form-group">
            <b>First Name:<br></b>
            {{ form.first_name }}
        </div>

        <div class="form-group">
        <b>Last Name:<br></b>
            {{ form.first_name }}
        </div>
      
        <div class="form-group">
        <b>Event :<br></b>
            {{ form.event }}

        </div>
        
        <div class="form-group">
        <b>Phone:<br></b>
               <input type="tel" name="phone" id="Phone" pattern="+91 xxxx-nnnnnn" placeholder="+91 xxxx-nnnnnn">
        </div><br>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button onclick="history.back()">Back</button>
          </div>
          <style>
            body{
              background-color: white;
            }    
            button{
              background-color: rgb(43, 0, 0);
              color: rgb(239, 241, 241);
              padding-left: .5em;
              padding-top: .5em;
              padding-right: .5em;
              padding-bottom: .5em;
            }
          </style>
    </form>
    
{% endblock content %}