{% extends 'base.html' %}
{% load static %}
{% block content %} 

    <h4><b>Are You Sure You Want to Delete This Event?</b></h4>  
    <style>
      body{
        background-color: white;
      }
      h4{
        text-align: left;
        font-family: 'Times New Roman', Times, serif;
      }
    </style>
    <form method="post" action=".">
        {% csrf_token %}             
          <div class="form-group">
            <button><a href="/Events/eventlist">Submit</button></a>
            <style>
              button{
              background-color: rgb(43, 0, 0);
              color: rgb(239, 241, 241);
              padding-left: .5em;
              padding-top: .5em;
              padding-right: .5em;
              padding-bottom: .5em;
             }
            </style>  
          </div>
    </form>
{% endblock content %}







