<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Delete Event</title>
</head>
{% block content %}
  
<body>
    <h1>Delete Event</h1>
    
    <hr /> 
    <form method="post" action=".">
        {% csrf_token %}
          <div class = "form-group">
            Name:<br>
            {{ form.name }}
          </div>
          <br>

          <div class="form-group">
           <input type="submit"  value="Delete" name="submit">
          </div>
    </form>
</body>
{% endblock content %}






