{% extends 'base.html' %}
{% block content %} 

    <h4><b>Are You Sure You Want to Delete This Lead?</b></h4>  
    <style>
      body{
        background-color: white;
      }
      h4{
        text-align: left;
        font-family: 'Times New Roman', Times, serif;
      }
    </style>
    <form method="post" action=".">
        {% csrf_token %}             
          <div class="form-group">
            <input  class="btn btn-primary" type="submit" value="Submit">
          </div>
    </form>
{% endblock content %}







