
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with LeadMark landing page.">
    <meta name="author" content="Devcrud">
    <title>Event Updation</title>
          <!-- Google Font -->
      <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900&display=swap"
      rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">
  
  
     <!-- Css Styles -->
     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
     <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
     <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
     <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
     <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
     <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
     <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
  </head>
  <body>
      <style>
          body{
              background-repeat: no-repeat;
              background-size: cover;
              background-image: url({% static 'img/event/pic 9.jpg' %});
          }
      </style>
  
    <!-- Page Preloder -->
      <div id="preloder">
          <div class="loader"></div>
      </div>
  
      <!-- Header Section Begin -->
      <header class="header-section">
          <div class="container">
              <div class="logo">
                  <a href="#">
                      <img src="{% static 'img/logo 3.jpg' %}" alt="" style="height: 100px; max-height: 150px; width:8cm;">
                  </a>
              </div>
              <div class="nav-menu">
                  <nav class="mainmenu mobile-menu">
                      <ul>
                          <li class="active"><a href="{% url 'home' %}">Home</a></li>
                          <li><a href="{% url 'about' %}  ">About</a></li>
                          <li><a href="#">Schedule</a></li>
                          <li><a href="#">Blog</a></li>
                          <li><a href="{% url 'contact' %}">Contacts</a></li>
                      </ul>
                  </nav>
                  <a href="#" class="primary-btn top-btn"><i class="fa fa-ticket"></i> Ticket</a>
              </div>
              <div id="mobile-menu-wrap"></div>
          </div>
      </header>
      <!-- End of Header Section Begin -->

  <!-- Page Header -->
  <header class="header">
      <div class="overlay">
          <form method="post" action="." style="font-size:small;">
          <center><b><u><h1 class="head">Manage Events</h1></u></b>
            {% csrf_token %}
              <br><div class="form-group">
               <b>Name :<br></b>
               <input type="text" name="name" autocomplete="off" value="{{ Event.name }}" required>
              </div>

              <div class = "form-group"> 
               <b>Time :<br></b>
               <input type="time" name="time" min="6:00" max="18:00" class="form-control"  style="max-width: 300px;" placeholder="Time" required="" id="id_time">
              </div>
             
              <div class = "form-group">
                <b>Date :<br></b>
                <input type="date" name="date" class="form-control" style="max-width: 300px;" placeholder="Time" required="" id="id_date">
              </div>
              
              <div class = "form-group">
                <b>Duration :<br></b>
                {{ form.duration }}
              </div>
              
              <div class = "form-group">
                <b>Description :<br></b>
                <textarea id="description" name="description" value="{{ Event.description }}"  placeholder="Description"  rows="4" cols="50"></textarea>
              </div>
              
              <div class = "form-group">
                <b>Coordinator :<br></b>
                <input type="text" name="coordinator" autocomplete="off" value="{{ Event.coordinator }}" required><br>
              </div>
    
              <div class = "form-group">
                <b>Max_Participants :<br></b>
                {{ form.max_participants }}
              </div>

              <div class="form-group">
               <button type="submit" class="btn btn-primary">Reset</button>
               <button type="submit" class="btn btn-primary">Submit</button>
               <button type="submit" class="btn btn-primary">Delete</button> 
               <button onclick="history.back()">Back</button>
              </div></center>
          </form>
  </header> 
    <!-- End Of Page Header -->
	
	  <!-- Js Plugins -->
      <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
      <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
      <script src="{% static 'js/jquery.slicknav.js' %}"></script>
      <script src="{% static 'js/owl.carousel.min.js' %}"></script>
      <script src="{% static 'js/main.js' %}"></script>
  

</body>
</html>






