
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with LeadMark landing page.">
    <meta name="author" content="Devcrud">
    <title>Login Page</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'assets/vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + LeadMark main styles -->
	<link rel="stylesheet" href="{% static 'assets/css/leadmark.css' %}">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- page Navigation -->
    <nav class="navbar custom-navbar navbar-expand-md navbar-light fixed-top" data-spy="affix" data-offset-top="10">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{% static 'assets/imgs/logo.svg' %}" alt="">
                <header style="color: white; font-size:larger; text-align: center;">Event Management System</header>
            </a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <!-- End Of Second Navigation -->

    <!-- Page Header -->
    <header class="header">
        <div class="overlay">
            <p style="color:white; text-align:center; font-size: x-large;">Join Us...!</p>
    <h1>User Login</h1>
    <form method="post" action=".">
         {% csrf_token %}
        <div class="form-group">
        <b>Name:<br></b>
            {{ form.name }}
        </div>

        <div class="form-group">
        <b>Mail Id:<br></b>
            {{ form.email }}
        </div>

        <div class="form-group">
            <label for="gender"><b>Gender:<br></b></label>
            <select name="gender" id="gender">
              <option value="none">None</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
        </div>

        <div class="form-group">
            <label for="psw"><b>Password:<br></b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
        </div>
        <div class="clearfix">
            <a href="{% url 'home'%}">
                <button class="btn btn-primary btn-lg">Login</button>  
            </a>
            <button type="button" class="cancelbtn"
                onclick="history.back()">Cancel
            </button>
        </div>
    </form> 
        
    </header>
    <!-- End Of Page Header -->
	
	<!-- core  -->
    <script src="{% static 'assets/vendors/jquery/jquery-3.4.1.js'"></script>
    <script src="{% static 'assets/vendors/bootstrap/bootstrap.bundle.js'"></script>

    <!-- bootstrap 3 affix -->
	<script src="{% static 'assets/vendors/bootstrap/bootstrap.affix.js'"></script>

    <!-- Isotope -->
    <script src="{% static 'assets/vendors/isotope/isotope.pkgd.js'"></script>

    <!-- LeadMark js -->
    <script src="{% static 'assets/js/leadmark.js'"></script>

</body>
</html>




