
{% load static %}
<body>
    <header id="home">
      <nav class="navbar">
            <div class="menu">
      </div>
        <h1>Home</h1>
      <ul>
        <link href="{% static 'css/navbar.css/' %}" rel="stylesheet" />
        <li><a href="{% url 'Events:event-list'%}" >Events</a></li>
        <li><a href="{% url 'Events:create-event'%}">Add Event</a></li>
        <li><a href="#">New Events</a></li>
        <li><a href="{% url 'Events:book-ticket' %}">Ticket Booking</a></li>
      </ul>
    </div>
  </nav>
  <div class="img"></div>
  <div class="center">
    <div class="btns">
      <button>Learn More</button>
    </div>
  </div>
    </header>
</body>
</html>


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management System</title>
</head>
<body>
    <a href="{% url 'Events:event-list'%}">Event List</a>
    <h2>Create Event</h2>
</body>
</html> -->


