{% load static %}
{% block content %}
    <header id="home">
      <nav class="navbar">
        <a class="navbar-brand" href="#">
          <img src="{% static 'assets/imgs/logo.svg' %}" alt="">
      </a>
            <div class="menu">
      </div>
        <h2>Home</h2>
    <link rel="stylesheet" href="{% static 'assets/vendors/themify-icons/css/themify-icons.css' %}">
	  <link rel="stylesheet" href="{% static 'assets/css/leadmark.css' %}">
        <br>
        <li><a href="{% url 'Events:event-list'%}" >Events</a></li><br>
        <li><a href="{% url 'Events:create-event'%}">Add Event</a></li><br>
        <li><a href="#">New Events</a></li><br>
        <li><a href="{% url 'Events:book-ticket' %}">Ticket Booking</a></li><br>
      </ul>
    </div>
  </nav>
  <div class="center">
    <center><button class="inline-flex items-center bg-black-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">
      <a href="#"> Learn More </a>               
      </button>
    </center>
  <img src="{% static 'assets/imgs/section.jpg'%}" alt="" class="w-100 mt-3 shadow-sm">
  </div>
 </header>
{% endblock content %}




<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management System</title>
</head>
<body>
    <a href="{% url 'Events:event-list'%}">Event List</a>
    <h2>Create Event</h2>
</body>
</html> -->


