{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="header">
        </div>
        <h1>Landing page</h1>
        <style>
            h1{
                color: darkcyan;
                text-align:center;
                display: block;
                font-size: 2em;
                margin-top: 0.67em;
                margin-bottom: 0.67em;
                margin-left: 0;
                margin-right: 0;
                font-weight: bold;
            }

            h2{
                color: darkred;
                display: block;
                font-size: .85em;
                font-style: oblique;
                font-family: cursive;
                margin-top: 0.83em;
                margin-bottom: 0.83em;
                margin-left: 0;
                margin-right: 0;
                font-weight: bold;              
            }
        </style>
        <div class="content">
            <div class="text">  
            <button  class="btn3">Get Started</button>
            <style>
                button {
                background-color: #14020d;
                border: none;
                color: white;
                padding: 12px 30px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                }
            </style>
           </div>
       </div>
   </div>
{% endblock content %}