{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="header">
        </div>
        <h2>Landing page</h2><br>
        <p style="background-color:hsla(0, 100%, 70%, 0.3);">
        <link href="{% static 'css/landing.css' %}" rel="stylesheet" />  


           Minim commodo aute esse duis commodo magna culpa qui aute. 
           Ullamco minim mollit aliquip commodo cupidatat esse nisi ex cupidatat occaecat. 
           Magna aliquip quis enim incididunt amet anim mollit officia proident nostrud cillum. 
           Non sunt incididunt culpa id amet exercitation ea commodo. Eiusmod nostrud nulla laborum eu.

           Exercitation aute aute exercitation minim. 
           Eiusmod anim duis enim eiusmod anim aliqua labore. 
           Velit ea consectetur esse consequat ipsum. 
           Nisi magna reprehenderit adipisicing consectetur sunt exercitation tempor nulla veniam.

           Aliquip do et do sunt ut. 
           Eu tempor proident minim exercitation exercitation tempor sit non sint consequat aliqua commodo consectetur irure. 
           Id nisi nulla ullamco reprehenderit deserunt ut sint.
        </p><br>
        <style>
            body{
                background-color: white;
                background-image: url();
            }
            h1{
                color: rgb(0, 5, 5);
                text-align:center;
                display: block;
                font-size: 2.5em;
                font-family: 'Times New Roman', Times, serif;
                margin-top: 0.67em;
                margin-bottom: 0.67em;
                margin-left: 0;
                margin-right: 0;
                font-weight: bold;
            }

            h2{
                color: rgb(6, 85, 45);
                text-align:center;
                display: block;
                font-size: 2em;
                font-style: oblique;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                margin-top: 0.83em;
                margin-bottom: 0.83em;
                margin-left: 0;
                margin-right: 0;
                font-weight: bold;              
            }
        </style>
        <div class="content">
            <div class="text">  
           
           <center><button class="inline-flex items-center bg-black-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">
            <a href="{% url 'signup'%}"> Get Started </a>               
                    <svg fill="white" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                       <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
            </button></center>
            <style>
                button {
                background-color: rgb(3, 3, 3);
                border: none;
                color: rgb(236, 188, 143);
                padding: 12px 30px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
                }
            </style>
           </div>
       </div>
   </div>
{% endblock content %}

