
{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Landing Page </title>
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul>
                    <li><a href="{% url 'home'%}">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
            <button class="btn" id="btn1">Log In</button>
            <button class="btn" id="btn2">Sign Up</button>
        </div>
        <div class="content">
            <div class="text">
            <h1>We Makes Events Easy</h1>
            <p>{% lorem 1 b random %}
            </p>
            <button class="btn3">Get Started</button>
           </div>
        <div class="pepsi">
        </div>
       </div>
   </div>
</body>
</html>
