{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link

      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"

      rel="stylesheet"

    />

    <link rel="stylesheet" href="style.css" />
    <link href="{% static 'css/navbar.css/' %}" rel="stylesheet" />

    <title>Home</title>
  </head>
  <body>
    <nav>

      <div class="heading">

        <h4>Navigation Bar</h4>
      </div>

      <ul class="nav-links">

        <li><a href="{% url 'home'%}">Home</a></li>

        <li><a href="{% url 'about'%}">About</a></li>

        <li><a href="{% url 'contact'%}">Contact</a></li>

      </ul>
    </nav>
    <h1>We plan, You party...</h1>
    <style>
      h1 {
        background-color:rgb(255, 255, 255); 
        text-align:center;
        color: #031d33;
        font-family: 'Brush Script MT', cursive;
        font-size: 16px;
        font-weight: bold;    
      }

    </style>
  </body>
</html>

<!-- 
<nav>
    <ul>
        <li><a href="{% url 'home'%}">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact</a></li>
    </ul>
</nav> -->