{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navigation Bar</title>
  <link rel="stylesheet" type="text/html" href="../css/landing.css">  
</head>
<body>

    <nav>
        <div class="logo">
          <p>navbar</p>
        </div>
        <ul>
          <li>
          <a href="{% url 'home'%}" class="mr-5 hover:text-red-900">Home</a>    
          </li>
          <li>
          <a href="{% url 'about'%}" class="mr-5 hover:text-red-900">About</a>
          </li>
          <li>
          <a  href="{% url 'contact'%}"  class="mr-5 hover:text-red-900">Contact</a>   
          </li>
        </ul>
    </nav>
    <div class="content-items">
      <img src="/static/images/pic.jpg" alt=""> 
    </div>
</body>
</html>
