{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navigation Bar</title>
  <link rel="stylesheet" type="text/html" href="css/landing.css">
</head>
<body>

    <nav>
        <div class="logo">
          <p>navbar</p>
        </div>
        <ul>
          <li>
          <a href="{% url 'home'%}" class="mr-5 hover:text-red-900">Home</a>    
          </li>
          <li>
          <a href="{% url 'about'%}" class="mr-5 hover:text-red-900">About</a>
          </li>
          <li>
          <a  href="{% url 'contact'%}"  class="mr-5 hover:text-red-900">Contact</a>   
          </li>
        </ul>
    </nav>
    <div class="content-items">
      <img src="{% static 'images/butterfly.jpg' %}" alt=""> 
    </div>
</body>
</html>



    <!-- <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-blue-400	flex flex-wrap items-center text-base justify-center bg-gray-300 fixed-top  ">
      <a href="{% url 'home'%}" class="mr-5 hover:text-red-900">Home</a>
      <a href="{% url 'about'%}" class="mr-5 hover:text-red-900">About</a>
      <a  href="{% url 'contact'%}"  class="mr-5 hover:text-red-900">Contact</a>   
        <a href="#" class="logo">
          <h1>
            <span class="">Event Management System</span
            ><span class=""></span>
          </h1>
        </a> 
    </nav> -->
  <!-- </div>
</header> -->

<!-- <nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top"></nav> -->